* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	padding: 0 30px;
  background-color: #f5f3f3;
}
header {
	text-align: center;
	padding: 70px 0px 50px 0;
}
header h1 {
	font-size: 1.5rem;
	font-weight: 200;
	color: hsl(234, 12%, 34%);
}
header h2 {
	font-weight: 700;
	font-size: 1.5rem;
	color: hsl(234, 12%, 34%);
	margin-bottom: 1.3rem;
}
header p {
	font-weight: 400;
	font-size: .968rem;
	color: hsl(229, 6%, 66%);
	max-width: 500px;
	margin: 0 auto;
}
.boxs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;

}
.box {
	box-shadow: 2px 8px 14px 0px hsla(229, 6%, 66%, 0.6);
	border-radius: 8px;
	padding: 30px;
	margin: 2rem 0;
	max-width: 400px;
  background-color: white;
}
.box.aqua {
	border-top: 5px solid hsl(180, 62%, 55%);
	margin: 0;
}
.box.red {
	border-top: 5px solid hsl(0, 78%, 62%);
}
.box.orange {
	border-top: 5px solid hsl(34, 97%, 64%);
}
.box.blue {
	border-top: 5px solid hsl(212, 86%, 64%);
	margin: 0;
}

.box img {
	display: block;
	margin-left: auto;
	margin-top: 40px;
  padding: .5em;
}
.box h2 {
	color: hsl(234, 12%, 34%);
	font-size: 1.5rem;
  padding-bottom: 8px;
  margin-top: 10px;
}
.box p {
	font-size: 14px;
	color: hsl(229, 6%, 66%);
}

@media only screen and (min-width: 800px) {
	body {
		font-size: 15px;
	}
	header h1,
	header h2 {
		font-size: 2em;
	}
	header p {
		font-size: 14px;

	}
  .box p{
    font-size: 15px;
  }
	.boxs {
		flex-direction: row;
	}
	.box {
		margin: 2rem;
	}
}
